.lineStyleSelect {
    width: 200px;
    margin-left: auto;
}

.viewModeSelect {
    width: 100px;
    margin-right: auto;
}

.variationsFilter {
    min-width: 200px;
    width: fit-content;
    max-width: 50%;
    align-self: flex-end;
}


@media (max-width: 670px) {
    .lineStyleSelect {
        margin-left: 0!important;
    }

    .viewModeSelect {
        margin-right: 0!important;
    }

}